version: "3.8"
services:
  db:
    image: mysql:8.0
    cap_add:
      - SYS_NICE
    restart: always
    environment:
      - MYSQL_DATABASE=cuy
      - MYSQL_ROOT_PASSWORD=1234
    ports:
      - "3306:3306"
volumes:
  db:
    driver: local
